<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelServices"
        tools:replace="android:allowBackup,android:supportsRtl">
        <activity
            android:name=".ReceptionScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Locks" />

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="hjucvkp8crmjt5vvevre" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="netymnmhf4mvnvantyd9mhhqaahnc8ea" />

        <activity
            android:name=".RoomManager"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Rooms"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.syriasoft.server.Login" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <service android:name=".Services.KeepAliveService_Test"
            android:enabled="true" />

        <service
            android:name=".Services.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Services.RerunService"
            android:enabled="true"/>

        <service
            android:name=".Services.ErrorService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".Services.checkWorkingReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name=".Login"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>